:root {
  --spacing-normal: 1.7rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

footer,
header,
main,
nav,
section {
  display: block;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--spacing-normal);
  padding-left: var(--spacing-normal);
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  transition: all 0.5s ease;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--spacing-normal));
  margin-left: calc(-1 * var(--spacing-normal));
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  display: block;
  padding: 0.25rem 0;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.py-7 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

}

@media (min-width: 800px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
